.about-project {
  background-color: #202020;
  min-height: 608px;
}
.about-project__body {
  height: 100%;
  padding: 110px 70px 141px;
}
.about-project__info {
  padding-top: 93px;
  padding-bottom: 110px;
}
.info-about {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.info-about__title {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -4%;
  font-weight: 400;
  margin: 0;
  margin-bottom: 26px;
}
.info-about__description {
  font-size: 14px;
  line-height: 1.4;
  margin: 0;
  display: block;
  max-width: 550px;
}
.about-project__weeks {
  width: 100%;
  height: 36px;
  display: flex;
}
.about-project__weeks-part {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.about-project__weeks-part::before {
  content: '';
  position: absolute;
  bottom: -31px;
  color: #8b8b8b;
  font-size: 14px;
  line-height: 1.2;
}
.about-project__weeks-part_bgcolor_green {
  flex: 0 1 calc(100% / 5);
  background-color: #3ddc84;
  color: #000000;
}
.about-project__weeks-part_bgcolor_green::before {
  content: 'Back-end';
}
.about-project__weeks-part_bgcolor_darkgrey {
  flex: 0 1 calc((100% / 5) * 4);
  background-color: #303030;
}
.about-project__weeks-part_bgcolor_darkgrey::before {
  content: 'Front-end';
}
.about-project__text-week {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}
