.navigation-main {
  display: flex;
  align-items: center;
}
.navigation-main__link {
  padding: 8px 20px;
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  border-radius: 3px;
  transition: all 0.4s;
}
.navigation-main__link:hover {
  transform: scale(1.04);
}
.navigation-main__link:not(:last-of-type) {
  margin-right: 30px;
}
.navigation-main__link-register {
  background-color: transparent;
  color: #ffffff;
}
.navigation-main__link-register:hover {
  background: rgba(255, 255, 255, 0.1);
}
.navigation-main__link-login {
  background-color: #3ddc84;
  color: #000000;
}
.navigation-main__link-login:hover {
  opacity: 0.7;
}
@media screen and (max-width: 767px) {
  .navigation-main__link {
    font-size: 10px;
    padding: 5px 12px;
  }
  .navigation-main__link:not(:last-of-type) {
    margin-right: 14px;
  }
}