.header {
  background-color: #202020;
  min-height: 74px;
}
.header_location_main-page {
  background-color: #073042;
}
.header__body {
  padding: 18px 70px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__link-to-main {
  width: 38px;
  height: 38px;
  transition: all 0.3s;
}
.header__link-to-main:hover {
  transform: rotate(360deg);
}
.header__logo {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1100px) {
  .header__body {
    padding: 18px 30px;
  }
}
@media screen and (max-width: 767px) {
  .header__body {
    padding: 18px 14px;
  }
}
