.header {
  background-color: #202020;
  min-height: 74px;
  max-width: 100%;
}
.header_location_main-page {
  background-color: #073042;
}
.header__body {
  padding: 18px 70px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1100px) {
  .header__body {
    padding: 18px 30px;
  }
}
@media screen and (max-width: 767px) {
  .header__body {
    padding: 18px 14px;
  }
}
