.promo {
  height: 560px;
  background-color: #073042;
}
.promo__body {
  box-sizing: border-box;
  padding: 50px 70px 60px;
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.promo__header {
  margin: 0;
  display: inline-block;
  width: 626px;
  font-weight: inherit;
  font-size: 40px;
  line-height: 1.3;
  letter-spacing: -4%;
  align-self: flex-start;
}
.promo__logo {
  width: 722px;
  height: 244px;
  align-self: flex-end;
}
